:root {
  --color-text: #757575;
  --color-title: #212121;
  --color-selected: #2196f3;
  --color-background: #f5f4fa;
  --color-footer-bg: #2f303a;
  --color-primary-title: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--color-text);
}

.list {
  list-style-type: none;
}

.logo-text-color {
  color: var(--color-selected);
}

.nav-link,
.header-link,
.footer-link,
.features-title,
.work-title,
.team-title,
.team-name {
  color: var(--color-title);
}

.nav-link:hover,
.nav-link:focus,
.header-link:hover,
.header-link:focus {
  color: var(--color-selected);
}

.button {
  background-color: var(--color-background);
  color: var(--color-title);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--color-selected);
  color: var(--color-primary-title);
}

.example-title {
  color: var(--color-title);
}

.example-text {
  color: var(--color-text);
}

.footer,
.head {
  background-color: var(--color-footer-bg);
}

.footer-logo,
.footer-addr,
.head-title {
  color: var(--color-primary-title);
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.team {
  background-color: var(--color-background);
}

.team-item {
  background-color: var(--color-primary-title);
}
